body{
    background-color: darkolivegreen;
}
p{
    color: gold;
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}