body{
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 640px) {
    body{
        background-color: #eaf6ff;
    }
}

h1{
    font-size: 1.5rem;
}

@media(min-width: 500px) {
    h1{
        font-size: 1.5rem;
    }
}

@media(min-width: 640px) {
    h1{
        font-size: 2.5rem;
    }
}

#fixed-size-grid-items ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

#fixed-size-grid-items ul li{
    margin: 10px;
}

#fixed-size-grid-items aside{
    width: 170px;
    font-size: 0.8rem;
}

#stretchable-grid-items ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#stretchable-grid-items ul li{
    width: 100%;
}

@media (min-width: 480px) {
    #stretchable-grid-items ul li {
        width: 50%;
    }
}

@media (min-width: 640px) {
    #stretchable-grid-items ul li{
        width: 25%;
    }
}

#stretchable-grid-items aside{
    font-size: 0.8rem;
    margin: 10px;
}