body{
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header{
    padding: 1em 2em;
    background-color: rgb(0, 48, 0);
}

ul{
    list-style: none;
    color: greenyellow;
}

.nav-list li {
    display: inline;
}

nav{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.nav-item {
    color: greenyellow;
    text-decoration: none;
    padding: 0.5em 1em;
    background-color:rgb(0, 38, 0);
    border-radius: 5px;
  }

  .nav-item:hover {
    background-color: greenyellow;
    color:rgb(0, 65, 0);
  }

  main {
    display: flex;
    padding: 2em;
    background-color: rgb(0, 48, 0);
  }
  .main-container {
    display: flex;
    align-items: flex-start; 
    gap: 2em; 
    padding: 2em;
  }
  .text {
    margin: 0 auto;
  }  
  .text p{
    margin-right: 300px;
  }  

   h1{
    font-size:50px;
    color: greenyellow;
  }
p{
  font-size: 15px;
  line-height: 1.6;
  color: white;
  margin-top: 30px;
}

.float-image{
    float:right;
    height:300px;
    width:auto;
    margin-left: 50px;
}

  footer{
    background-color: rgb(0, 65, 0);
    padding: 1em 2em;
  }

  .implementations{
    height:400px;
    width:auto;
  }

  h2{
    color: greenyellow;
  }

  .source-text{
    padding-bottom: 350px;
  }

  .landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  
  .unsorted{
    font-size: 200px;
    color: rgba(172, 255, 47, 0.60);
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .sorted{
    font-size: 200px;
    color:greenyellow;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .info{
    margin-left:50px;
    margin-right: 50px;
  }

  .unsorted-subheader{
    font-size: 50px;
    color: rgba(172, 255, 47, 0.60);
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .sorted-subheader{
    font-size: 50px;
    color: rgba(172, 255, 47);
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h3{
    font-size: 20px;
    color: greenyellow;
    margin-top: 60px;
  }

  .var{
    margin-top: 60px;
  }

  .link{
    color: greenyellow;
    margin-top: 15px;
  }

